In [66]:
#dependent data and independent data
#model output is label
#fit method trains the model
#and transform method predicts the method
#imputer class in sklearn.preprocessing
#label encoder

In [54]:
import numpy as np
import pandas as pa

In [55]:
data = pa.read_csv('Data.csv')

In [56]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [60]:
dap = pa.read_csv('test2.txt')

In [61]:
dap['2']

0     4
1     6
2     8
3    10
4    12
Name: 2, dtype: int64

In [62]:
x = data.iloc[:,:3].values

In [63]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [64]:
y = data.iloc[:,-1:4].values

In [65]:
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)